.container {
  padding: 30px;
}

.label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

.expenseType {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  button {
    padding: 8px;
    text-align: center;
    flex: 1;
    color: #fff;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  input,
  textarea,
  select {
    width: 100%;
    padding: 6px 8px;
    border: 1px solid #dededf;
    color: #000;
    font-family: inherit;
    // -webkit-appearance: none;
    // appearance: none;
  }
}

.item {
  display: flex;
  flex-direction: column;
}

.amountContainer {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  .yen {
    position: absolute;
    right: 0;
    margin-right: 15px;
  }
}

.btns {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
  //   border: 2px solid red;
  .btnOutline {
    border: 1px solid #4b97f2;
    color: #4b97f2;
    padding: 8px 20px;
    flex: 1;
    text-align: center;
    cursor: pointer;
  }

  .btnFull {
    border: 1px solid #4b96f200;
    color: #fff;
    background-color: #4b97f2;
    padding: 8px 20px;
    flex: 1;
    cursor: pointer;
  }
}
