.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  color: #4b97f2;
  border-bottom: 2px solid #4b97f2;
  padding: 7px;

  &:hover .remove {
    display: block;
  }

  .remove {
    cursor: pointer;
    display: none;
    color: red;
    font-weight: 700;
  }
}
