.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #4b97f2;
  border-bottom: 1px solid #4b97f2;
  padding: 7px;
  cursor: pointer;
}

.cashIn {
  border-bottom: 1px solid #4caf50 !important;
  color: #4caf50;
}
